body {
  margin: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFAF0;
}
#welcome {
  font-family: Quicksand, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
a {
  color: #00B7FF;
}
#webcam_stream {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#stream {
  border: 2px solid white;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}
#stream:hover {
  width: 320px;
  height: 240px;
  cursor: pointer;
}
#conversation {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}
#submission {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
#frame1 {
  width: 548px;
  height: auto;
  background-color: black;
  margin-bottom: -5px;
  word-wrap: break-word;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 50px;
}
#frame2 {
  width: 548px;
  height: auto;
  background-color: black;
  margin-top: -5px;
  word-wrap: break-word;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
}
#p1 {
  color: white;
  font-size: 20px;
  font-family: Quicksand, Helvetica Neue, sans-serif;
  text-align: center;
  padding: 5px;
}
#p2 {
  color: white;
  font-size: 20px;
  font-family: Quicksand, Helvetica Neue, sans-serif;
  text-align: center;
  padding: 5px;
}
.video {
  margin-top: -15px;
  margin-bottom: -18px;
  margin-left: 50px;
}
.video:hover {
  cursor: pointer;
}
